*
!.gitignore
!.tmux.conf
!.xinitrc
!.xprofile
!.Xresources
!.zprofile
!.zshrczshrc
!.local/
!.local/share
!.local/share/scripts
!.local/share/scripts/**
!.config/
!.config/nvim
!.config/nvim/**
!.config/ncpamixer.conf
!.config/alacritty
!.config/alacritty/**
!.config/ly
!.config/ly/**
!.config/gtk-3.0
!.config/gtk-3.0/**
!.local/zsh-syntax-highlighting/**
!.tmux.conf
!.xprofile
!.zprofile
!.zshrc
!.gitignore